//= require reset
//= require animation

@charset "utf-8";
@import "_flexbox";

.hidden { display: none }

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body, #content {
  height: 100%;
}

h1,h2, h3 {
  font-family: "Varela Round", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: tomato;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
}

.header {
  padding: 30px 20px;
  background: #262a30;
  color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow:
    inset 0 1px 0 rgba(0, 0, 0, 0.9),
    inset 0 2px 0 rgba(255, 255, 255, 0.1);

  h1 {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;

    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

#content {
  @include flexbox;
}

#main {
  @include flex(1);
  border-left: 1px solid #eee;
  height: 100%;
}

#stats {
  width: 300px;
  height: 100%;
  border-right: 1px solid #eee;
}

.category {
  padding: 15px;
  border-bottom: 1px solid #eee;

  h2 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
  }
}

.options {
  display: inline-block;
  position: relative;
  width: 100%;

  select {
    outline: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 5px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient(#eee, #e1e1e1);
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #333;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow:
      inset 1px 1px rgba(255, 255, 255, 0.5),
      inset -1px -1px rgba(255, 255, 255, 0.2);
  }

  &:after {
    line-height: 1;
    padding: 9px 10px 5px 10px;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    content: "\25BC";
    position: absolute;
    right: 0;
    border-left: 1px solid #ccc;
    color: #777;
    top: 0;
    pointer-events: none;
    font-size: 10px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
  }
}

.stat-group {
  border-top: 1px solid #eee;
}

.stat-head {
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
}

////////////////////////////////////////////////////////////////////////////////
// =tabs
////////////////////////////////////////////////////////////////////////////////

.tabs {
  display: inline-block;
  -webkit-box-sizing: border-box;
  margin: 12px 10px;
  padding: 0;
}

.tab {
  box-sizing: border-box;
  display: table-cell;
  width: 1%;
  text-align: center;

  a {
    padding: 9px;
    display: block;
    text-decoration: none;
    border: 1px solid #ccc;
    border-left: none;
    font-weight: bold;
  }

  &:first-child a {
    border-left: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &.selected a {
    border-color: #A52A2A;
    background: tomato;
    color: #fff;
  }

  &:last-child.selected a {
    border-left: 1px solid #A52A2A;
  }
}

////////////////////////////////////////////////////////////////////////////////
// =interaction
////////////////////////////////////////////////////////////////////////////////
.scatterplot-header {
  border-bottom: 1px solid #eee;
  padding: 10px;

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.scatterplot-title {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.scatterplot {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}

.url {
  width: calc(100% - 40px);
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 2px;
  margin: 20px;
  font-size: 16px;
}

.label {
  font-weight: bold;
  fill: #262a30;
}

path.domain { fill: none; }

.axis {
  line {
    stroke: #eee;
    stroke-width: 1;
    shape-rendering: crispedges;
  }

  text {
    font-size: 12px;
    fill: #555;
  }
}

.player { fill-opacity: 0.6; }
.player.g { fill: #ff4a1e; stroke: #ff4a1e; }
.player.f { fill: #6519d2; stroke: #6519d2; }
.player.c { fill: #60dd1a; stroke: #60dd1a; }

.legend {
  float: right;
  background: #f1f1f1;
  line-height: 1;
  border-radius: 2px;

  li {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1;

    &:before {
      content: "\25FC";
      font-size: 18px;
      vertical-align: -3px;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
      margin-right: 2px;
    }

    &.g:before { color: #ff4a1e; }
    &.f:before { color: #6519d2; }
    &.c:before { color: #60dd1a; }
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  border-radius: 2px;
  border: 1px solid #eee;
  white-space: nowrap;
}

////////////////////////////////////////////////////////////////////////////////
// =top lists
////////////////////////////////////////////////////////////////////////////////
.top-list-content {
  @include flexbox;
  -webkit-justify-content: space-between;
}

.top-list {
  @include flex(1);

  h3 {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #eee;
    border-bottom: none;
    background: #f7f7f7;
  }

  &:first-child h3 {
    border-right: none;
  }

  &:first-child {
    border-right: 1px solid #fff;
  }
}

.top-list-data {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 10px;
    border: 1px solid #eee;
  }

  tr td:first-child {
    font-weight: bold;
    width: 1%;
  }

  tr td:nth-child(2) {
    font-weight: bold;
  }

  tr td:last-child {
    border-right: none;
  }

  tr:nth-child(even) td {
    background: #fdfdfd;
  }

}
